<!DOCTYPE html>
<html lang = "en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
<Title>Design Template</Title>
<link rel="stylesheet" href="home.css">
</head><div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

<a class="navbar-brand">LOGO</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-   controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span></button>
  
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">Login &nbsp;</a></li>
     <li class="nav-item">
        <a class="nav-link" href="#">About Us &nbsp;</a></li>
     <li class="nav-item active">
        <a class="nav-link" href="#">Home &nbsp;</a></li>
     <li class="nav-item">
        <a class="nav-link" href="#">Projects &nbsp;</a></li></ul>

<span class="navbar-text">Search</span>
</div></nav>

<header.a><h1 style='text-align: center;'>Source Code Society</h1></header.a>

<br></br>

<div class="fixed-bottom"><footer>
   <h4 style="text-align: right;padding-right: 5mm;">Contact Us</h4>
   <p style="text-align: right; padding-right: 5mm;">stuff</p></footer>
</div>
</body>
